@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4;
  margin: 0;
}

@media print {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
  }

  html {
    margin: 0;
    padding: 0;
  }

  .print\:hidden {
    display: none !important;
  }

  .hidden.print\:block {
    display: block !important;
  }
}
